parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type list\<string\>\|false supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/PFrame.php

		-
			message: '#^Function explodeS\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Function getS\(\) has parameter \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Function ha\(\) has parameter \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:addRoute\(\) has parameter \$middleware with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:addSecurityHeaders\(\) has parameter \$overrides with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:get\(\) has parameter \$mw with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:group\(\) has parameter \$mw with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:instance\(\) should return static\(PFrame\\App\) but returns PFrame\\App\.$#'
			identifier: return.type
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:matchRoute\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:post\(\) has parameter \$mw with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:route\(\) has parameter \$mw with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\App\:\:url\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:batchInsert\(\) has parameter \$rows with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:col\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:col\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:exec\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:exec\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:insertGetId\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:results\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:results\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:row\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:row\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:url\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Base\:\:var\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:currentUser\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:jsonError\(\) has parameter \$extra with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:jsonSuccess\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:paginate\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:postData\(\) has parameter \$keys with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:postData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:redirectRoute\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Controller\:\:render\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:__construct\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:batchInsert\(\) has parameter \$rows with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:col\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:col\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:exec\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:exec\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:insertGetId\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:interpolate\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:interpolate\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:norm\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:norm\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:placeholders\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:results\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:results\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:row\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:row\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:run\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Db\:\:var\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Flash\:\:get\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\HttpException\:\:__construct\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\HttpException\:\:methodNotAllowed\(\) has parameter \$allowed with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Log\:\:debug\(\) has parameter \$ctx with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Log\:\:error\(\) has parameter \$ctx with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Log\:\:info\(\) has parameter \$ctx with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Log\:\:log\(\) has parameter \$ctx with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Log\:\:trace\(\) has parameter \$ctx with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Log\:\:warn\(\) has parameter \$ctx with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Middleware\:\:csrf\(\) has parameter \$methods with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:__construct\(\) has parameter \$cookies with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:__construct\(\) has parameter \$files with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:__construct\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:__construct\(\) has parameter \$post with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:__construct\(\) has parameter \$query with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:__construct\(\) has parameter \$server with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:fromGlobalsWithProxies\(\) has parameter \$trustedProxies with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:jsonBody\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:only\(\) has parameter \$keys with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:only\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:parseServerHeaders\(\) has parameter \$server with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:parseServerHeaders\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:resolveIp\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:resolveIp\(\) has parameter \$server with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:resolveIp\(\) has parameter \$trustedProxies with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Request\:\:setParams\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Response\:\:__construct\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Response\:\:file\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Session\:\:gc\(\) should return int\|false but returns array\|int\.$#'
			identifier: return.type
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Session\:\:register\(\) has parameter \$cookieParams with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Validator\:\:validate\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Validator\:\:validate\(\) has parameter \$rules with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Validator\:\:validate\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\View\:\:layout\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\View\:\:partial\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\View\:\:render\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\View\:\:renderFile\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Offset ''file'' on array\{type\: 1\|4\|16\|64, message\: string, file\: string, line\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/PFrame.php

		-
			message: '#^Offset ''line'' on array\{type\: 1\|4\|16\|64, message\: string, file\: string, line\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/PFrame.php

		-
			message: '#^Offset ''message'' on array\{type\: 1\|4\|16\|64, message\: string, file\: string, line\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/PFrame.php

		-
			message: '#^Offset int\|null might not exist on array\<int, array\{prefix\: string, middleware\: array\<callable\(\)\: mixed\>, name_prefix\: string\}\>\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/PFrame.php

		-
			message: '#^Parameter \#1 \$separator of function explode expects non\-empty\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/PFrame.php

		-
			message: '#^Parameter \#1 \$string of function mb_strlen expects string, string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/PFrame.php

		-
			message: '#^Parameter \#1 \$string of function mb_substr expects string, string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/PFrame.php

		-
			message: '#^Parameter \#1 \$string1 of function strcasecmp expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/PFrame.php

		-
			message: '#^Property PFrame\\App\:\:\$configData type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Property PFrame\\App\:\:\$routes type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Property PFrame\\Controller\:\:\$data type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Property PFrame\\Request\:\:\$params type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Property PFrame\\View\:\:\$layoutData type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrame.php

		-
			message: '#^Strict comparison using \!\=\= between null and null will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: src/PFrame.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/PFrame.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 10
			path: src/PFrame.php

		-
			message: '#^Method PFrame\\Testing\\TestCase\:\:actingAs\(\) has parameter \$user with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrameTesting.php

		-
			message: '#^Method PFrame\\Testing\\TestCase\:\:assertDatabaseCount\(\) has parameter \$conditions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrameTesting.php

		-
			message: '#^Method PFrame\\Testing\\TestCase\:\:assertDatabaseHas\(\) has parameter \$conditions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrameTesting.php

		-
			message: '#^Method PFrame\\Testing\\TestCase\:\:assertDatabaseMissing\(\) has parameter \$conditions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrameTesting.php

		-
			message: '#^Method PFrame\\Testing\\TestCase\:\:assertJsonContains\(\) has parameter \$expected with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrameTesting.php

		-
			message: '#^Method PFrame\\Testing\\TestCase\:\:buildWhereClause\(\) has parameter \$conditions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/PFrameTesting.php

		-
			message: '#^Trait PFrame\\Testing\\HttpTesting is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/PFrameTesting.php

		-
			message: '#^Trait PFrame\\Testing\\RefreshDatabase is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/PFrameTesting.php
